@font-face {
  font-family: "Belwe BT Bold";
  src: url('../fonts/belwe.ttf') format("truetype");
}

body {
  font-family: "Belwe BT Bold";
  background-color: rgb(241, 214, 169);
}

.slider {
  margin: auto;
  width: 75%;
}

.noUi-tooltip {
  border: none;
  border-radius: 0;
  background: none;
  margin-bottom: -3vh;
  padding: 0;
  margin-top: -5vh;
  font-size: 13vh;
  -webkit-text-stroke: 0.8vw black;
  color: #ffffff;
}

.noUi-handle:after, .noUi-handle:before {
  height: 2.5vh;
  width: 0.2vh;
  top: 1.3vw;
  background-color: #888888;
}

.noUi-handle:before {
  left: 2vw;
}

.noUi-handle::after {
  left: 3vw;
}

.slider-section {
  display: block;
  margin-top: 10vh;
}

.slider-section .header {
  text-align: center;
  width: 100%;
  font-size: 2vw;
}

.noUi-horizontal {
  height: 3vh;
  background-color: #CC6A2B;
}

.noUi-horizontal .noUi-handle {
  height: 4vh;
  width: 3vh;
  left: -1.5vh;
  background-color: #000000;
}

.damage {
  display: inline-block;
}

.damage .output {
  font-size: 40vw;
  -webkit-text-stroke: 0.8vw black;
}

.damage .opponent {
  color: #ff3322;
}

.damage .user {
  color: #ccaa33;
}

.banner {
  font-size: 9vw;
  width: 100%;
  text-align: center;
}

::selection {
  background: #CC6A2B;
}
